.hero-container {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  height: 100vh;
  max-width: 300px;
  color: #454545;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-name {
  font-size: 1.8rem;
}

.hero-section {
  font-size: 0.9rem;
  color: #505050;

}

.hero-numeration {
  color: #505050;
}